
@font-face {
    font-family: khmoul;
    src: url("../fonts/KhmerOSmuollight.ttf");
}
@font-face {
    font-family: khcontent;
    src: url("../fonts/KhmerOSsiemreap.ttf");
}
@font-face {
    font-family: khb;
    src: url("../fonts/KhmerOSbokor.ttf");
}
@font-face {
    font-family: 'tacteng';
    src: url("../fonts/TACTENG.TTF");
}
*{
    margin: 0px !important;
    padding: 0px !important;
    /* border-spacing: 0px !important; */
    box-sizing: border-box;
}
/* print  */
.tacteng{
    font-family: 'tacteng';
}
.khmer_btb{
    font-family: khcontent, 'Battambang', cursive;
}
.khmer_moul{
    font-family: khmoul, 'Moul', cursive;
}
.khb{
    font-family: khb, 'Moul', cursive;
}
.timeNewRoman{
    font-family: 'Times New Roman', Times, serif;
}


.border, .table-border th, .table-border td {
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
}


table, th, td{
    padding: 5px !important;
    border-collapse: collapse;
}

.border{
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    line-height: 1.7em !important;
    font-size: 12px;
}
.border tr{
    break-inside: avoid;
}

.bg-secondary{
    background-color: #dfdfdf !important;
    text-align: center;
    border-left: 2px solid;
    border-right: 2px solid;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
